<h1>PageTable5</h1>

<p>
  Server-side paging - list, list with detail, list with group cap/provincia
</p>

<p>
  <a routerLink="/dashboard/home">Home</a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel5/tablepanel5.component.html" target="_blank">
    tablepanel5.component.html
  </a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel5/tablepanel5.component.ts" target="_blank">
    tablepanel5.component.ts
  </a>&nbsp;
</p>

<app-tablepanel5></app-tablepanel5>
