<h1>PageTable4</h1>

<p>
  Server-side paging - with groups
</p>

<p>
  <a routerLink="/dashboard/home">Home</a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel4/tablepanel4.component.html" target="_blank">
    tablepanel4.component.html
  </a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel4/tablepanel4.component.ts" target="_blank">
    tablepanel4.component.ts
  </a>&nbsp;
</p>

<app-tablepanel4></app-tablepanel4>
