<h1>PageTable3</h1>

<p>
  Server-side paging - with detail
</p>

<p>
  <a routerLink="/dashboard/home">Home</a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel3/tablepanel3.component.html" target="_blank">
    tablepanel3.component.html
  </a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel3/tablepanel3.component.ts" target="_blank">
    tablepanel3.component.ts
  </a>&nbsp;
</p>

<app-tablepanel3></app-tablepanel3>
