<h1>PageTable1</h1>

<p>
  Client-side paging (read all together)
</p>

<p>
  <a routerLink="/dashboard/home">Home</a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel1/tablepanel1.component.html" target="_blank">
    tablepanel1.component.html
  </a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel1/tablepanel1.component.ts" target="_blank">
    tablepanel1.component.ts
  </a>&nbsp;
</p>

<app-tablepanel1></app-tablepanel1>
