<h1>PageTable2</h1>

<p>
  Server-side paging
</p>

<p>
  <a routerLink="/dashboard/home">Home</a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel2/tablepanel2.component.html" target="_blank">
    tablepanel2.component.html
  </a>&nbsp;
  <a href="https://github.com/mastefano64/AppNgxDatatableDynamic/blob/main/src/app/dashboard/components/tablepanel2/tablepanel2.component.ts" target="_blank">
    tablepanel2.component.ts
  </a>&nbsp;
</p>

<app-tablepanel2></app-tablepanel2>
